@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    font-size: 62.5%;
    background-color: #F0F2F5;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

.home {
    width: 100%;
    display: flex;


    .wrapper {
        flex: 9;
        margin-left: 10px;

        display: flex;
        flex-direction: column;

        .topbar {
            background-color: red;
            border-radius: 1rem;
            height: 60px;
            margin-bottom: 10px;

            // position: sticky;
            // top: 10px;
        }

        .content {
            margin-top: 10px;
            display: flex;
            flex: 1;

            .main {
                border-radius: 1rem;
                background-color: green;
                margin-right: 10px;
                flex: 8;
            }

            .rightbar {
                border-radius: 1rem;
                background-color: blue;
                margin-left: 10px;
                flex: 2;
            }
        }

    }
}